<?xml version="1.0"?>
<config>
	<modules>
		<Dzinehub_Partsfinder>
			<version>1.0.0</version>
		</Dzinehub_partsfinder>
	</modules>
	<global>
		<helpers>
			<partsfinder>
				<class>Dzinehub_Partsfinder_Helper</class>
			</partsfinder>
		</helpers>
		<models>
			<partsfinder>
				<class>Dzinehub_Partsfinder_Model</class>
				<resourceModel>partsfinder_mysql4</resourceModel>
			</partsfinder>
			<partsfinder_mysql4>
				<class>Dzinehub_Partsfinder_Model_Mysql4</class>
				<entities>
					<parts>
						<table>dz_partsfinder</table>
					<parts>
				</entities>
			</partsfinder_mysql4>
		</models>
		<resources>
			<partsfinder_setup>
				<setup>
					<module>Dzinehub_Partsfinder</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
			</partsfinder_setup>
			<partsfinder_read>
				<connection>
					<use>core_read</use>
				</connection>
			</partsfinder_read>
			<partsfinder_write>
				<connection>
					<use>core_write</use>
				</connection>
			</partsfinder_write>
		</resources>
	</global>
</config>